/*
  DIRECTED BY RAPHAEL
*/

.mB0lJjj1spkRsbQTfTzWv {
  width: 100 vw;
  padding: 20px;
}

._2f0rolhKAf6-ieS7cNw7B1 {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

._2mr6B4WX0KAgClAFbvvnoK {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.OIje92jyRaWmU4ldg0nza{
  width: 100vw;
  height: 100vh;
}

._3tUf9aPNFhNh3QT5mYeg9x{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}


.n4LFRboNIlwWVn0E7i7p{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(#885050), color-stop(#aa4847), color-stop(#c93c39), color-stop(#e52926), to(#ff0000));
  background-image: linear-gradient(to right, #885050, #aa4847, #c93c39, #e52926, #ff0000);
  width: 100vw;
  max-width: 100vw;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}


.zO53XocsfcCfuagyf2Kbf {
  border-left: .1em solid #00FF41;
  -webkit-animation: _3kw0cNQUGt6yHNc8HbJ64Y .7s steps(1) infinite;
          animation: _3kw0cNQUGt6yHNc8HbJ64Y .7s steps(1) infinite;
}

@-webkit-keyframes _3kw0cNQUGt6yHNc8HbJ64Y {
  50% {
    border-color: transparent;
  }
}

@keyframes _3kw0cNQUGt6yHNc8HbJ64Y {
  50% {
    border-color: transparent;
  }
}

/*
  DIRECTED BY HAKAN & RAPHAEL
*/

._3Ju0ILiUOzm5cw8zuTxAl9{
  color: black;
  overflow: hidden;
}

._2ixuJIn-1nZohmZbCX5bK8{
  font-size: 40px;
  margin: 10px;
}

.bdKQrPQ8wGUBXQRLQJ_B4{
  font-weight:bold;
  font-size: 18px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  background-color: white;
  border-radius: 5px;
  border-color: transparent;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .75);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .75);
}

.bdKQrPQ8wGUBXQRLQJ_B4:hover {
  opacity: 1;
  -webkit-box-shadow: 2px 1px 13px -1px rgba(0, 0, 0, .75);
  box-shadow: 2px 1px 13px -1px rgba(0, 0, 0, .75);
  font-size: 20px;
}

._2UKbPL48NNKSU8ayWzyyB4{
  color: #72ff6d;
  text-decoration: none;
}

/*
  DIRECTED BY RAPHAEL
*/


.xpSRI7XMzdD6XDGsk7auq{
  padding: 15px;
  font-size: 19.2px;
  font-size: 1.2rem;
  border-width: 1px;
  color:rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-radius: 0px;
}


._2FkpwRngtUlLKcgXLPKK7r{
  background-color: #41414E;
}


._32DfSxq_wClt8S1VFYCKIr{
  text-align: center;
}


._3kxppqABRooqJyyP_2DQMF{
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 3em;
  background: #41414E;
  width: 100%;
}


._3kxppqABRooqJyyP_2DQMF:hover{
  background: rgb(77, 77, 90);
  cursor: pointer;
}


._1LyuXVF2J2IVJ_Xr53JSWu{
  margin-left: 32px;
  margin-left: 2rem;
}


._1Q7jkWn5F9xN6pzCCGZZm9{
  margin-left: 32px;
  margin-left: 2rem;
  color: rgb(56, 255, 45);
}


._21ma6R9Wo5_gWuKbHukWEL{
  position: fixed;
  overflow: hidden;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

._3Hpl0v8CDBodYvMBDZIV1S{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(209, 139, 139);
}

._3JTn2VYVpgSwYyKd6I0BtZ{
  height: 25px;
  width: 25px;
  float: right;
  margin: 20px;
}

._3JTn2VYVpgSwYyKd6I0BtZ:hover{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: invert(100%);
          filter: invert(100%);
  cursor: pointer;
}

._1xRH5c3_tS1yucHMUwZyfA{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

._2tCOFalsp2KLqrTmZBSiwU{
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  margin: 8px;
  margin: 0.5rem;
}

._2tCOFalsp2KLqrTmZBSiwU:hover {
background-color: rgb(79, 211, 83); /* Green */
}

._1r8Czb0Z5afoPOeP6vJGlq{
  width: 100px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

._3ZGE1mD-yNBn5cvfwIiiJO{
  background-color: rgb(255, 31, 31); /* Green */
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 20px;
}

._3ZGE1mD-yNBn5cvfwIiiJO:hover {
background-color: rgb(255, 116, 116); /* Green */
}

/*
  DIRECTED BY HAKAN & RAPHAEL
*/

.L9C1HKALV9Q4_Ga96NI1{
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

._1aka8CjT767kP4RpTMymvl{
  margin-right: 3em;
  margin-left: 3em;
  line-height: 3em;
  font-size: large;
  font-style: italic;
  -webkit-font-feature-settings: "c2sc";
          font-feature-settings: "c2sc";
  font-variant: small-caps;
  text-decoration: underline;
}

._1urkIwenWD4lcRXeu8qVUZ{
  padding: 1em;
}

._2yFdnni9CsVLgGlKMWbgpr{
  border: rgb(97, 97, 97) solid 1.6px;
  border: rgb(97, 97, 97) solid 0.1rem;
  padding: 0.2em;
}

._3_2o_n1hRqmmIOkzjgtrDd {
  display: inline-block;
  line-height: 3em;
  padding: 0 1em;
  margin-right: 0.5em;
  background: #41414E;
}

._3_2o_n1hRqmmIOkzjgtrDd:hover{
  background: rgb(77, 77, 90);
  cursor: pointer;
}

._3_2o_n1hRqmmIOkzjgtrDd:before {
    content: "\2551   ";
}

._3_2o_n1hRqmmIOkzjgtrDd:after {
    content: "   \2551";
}

._1WO6EATbpgn1y0HJ519tAq{
  padding: 1em;
  border-bottom: rgb(37, 37, 44) dashed;
}

._2tyJZ_gHoBKn1dGZ8E_g6l{
  font-size: 24px;
  font-size: 1.5rem;
  font-style: italic;
  -webkit-font-feature-settings: "c2sc";
          font-feature-settings: "c2sc";
  font-variant: small-caps;
  text-decoration: underline;
}

._3jwDn96SpFqmXUg0VPmMUt{
  float: right;
  line-height: 3em;
  background-color: rgb(243, 83, 83);
  padding-right: 16px;
  padding-right: 1rem;
  padding-left: 16px;
  padding-left: 1rem;
}

._3jwDn96SpFqmXUg0VPmMUt:hover{
  background-color: rgb(185, 68, 68);
}

._3vhYA9yr9UNZziG6AeVn3f{
  margin-left: 15px;
  min-width: 250px;
  overflow: hidden;
}

._1_6bLppQdf3qM27_Z12MvW{
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin: 8px;
    margin: 0.5rem;
}

._1_6bLppQdf3qM27_Z12MvW:hover {
  background-color: rgb(79, 211, 83); /* Green */
}

._19jDk91HAW9CIoxc1DetYA{
  text-align: center;
}

._3sulvP95IgIMUdjOaxZKNm{
  margin-right: 15px;
  margin-left: 10px;
  width: 100%;
}
._2xY_NnclSENhe7DB6MXLh5{
  border: rgb(97, 97, 97) solid 1.6px;
  border: rgb(97, 97, 97) solid 0.1rem;
  padding: 0.2em;
}
._3oOYJxuIYtnXSqBAVQfhYF{
  padding: 15px;
  font-size: 32px;
  font-size: 2rem;
  border-width: 1px;
  color:#7CBDBA;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-style: hidden;
  border-radius: 0px;
}
._1wHoBvDYSrDPCpJcQH_emI{
  text-align: center;
}
._330U4HTSHTy7Bf46g1fnPT{
  background-color: #41414E;
}
._1kKWtbLcPi7EVV7ITr_uqK{
  margin: 10px;
  width: 20px;
  height: 20px;
}
._3_jOPb_1ZG8Ri_Yo6VnnLA{

  padding: 32px;
  padding: 2rem;
  text-align: center;
  margin: 16px;
  margin: 1rem;
  display: inline-block;
  background-color: #41414E;
}
._3zJa1MLaLPC_zWZ5ldRgZW{
  padding: 15px;
  font-size: 19.2px;
  font-size: 1.2rem;
  border-width: 1px;
  color:rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-style: hidden;
  border-radius: 0px;
}
._362VcCrKnPWWxB2QfNDhZ8{
  padding: 10px;
  font-size: 19.2px;
  font-size: 1.2rem;
  border-width: 1px;
  color:rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-style: hidden;
  border-radius: 0px;
}
._2PM1ELTOXLgkOEbUNUFkt9 {
  display: inline-block;
  line-height: 3em;
  padding: 0 1em;
  margin-right: 0.5em;
  color: rgb(0, 0, 0);
  background: rgb(52, 182, 74);
  cursor: pointer;
}
._2PM1ELTOXLgkOEbUNUFkt9:hover{
  background: rgb(24, 243, 60);
}
._3Sl1MNj6HSpU01gBixzSyK {
  display: inline-block;
  line-height: 3em;
  padding: 0 1em;
  margin-right: 0.5em;
  color: rgb(0, 0, 0);
  background: rgb(255, 95, 83);
  cursor: pointer;
}
._3Sl1MNj6HSpU01gBixzSyK:hover{
  background: rgb(253, 123, 114);
}
._18L0wXiYkGkXG3_KcfBtzQ{
  text-align: left;
}
.Sch3teysE8IpvBC2pobRs{
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  border-radius: 1rem;
  margin: 3.2px;
  margin: 0.2rem;
}
._1VkyEXoOs7ksBaUt8gootU {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
._1VkyEXoOs7ksBaUt8gootU::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
._1VkyEXoOs7ksBaUt8gootU::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}



/*
  DIRECTED BY RAPHAEL
*/

._1x56_5eNMGZNlyBUHxWFPc {
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, .521);
}

._3l5O2Fene9jI8i8plgiv_t {
  color: red;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40vh;
}

